<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="#">
        <title>Test</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/immutable/3.8.2/immutable.min.js" integrity="sha512-myCdDiGJRYrvRb/VuJ67ljifYTJdc1jdEvL4c4ftX9o3N6EAnmD83c/7l2/91RCINZ7c8w21tiXDT7RDFjdc3g==" crossorigin="anonymous"></script> 
    </head>

    <body>

        <header>
            <div class="">
                Travel Planner
            </div>
        </header>

        <main>
            <section>
                <div>
                    <h3>My Trips:</h3>
                    <button>add trip</button>
                </div>
                <div>
                    <img src="" alt="">
                    <button>add packing list</button>
                    <button>add lodging info</button>
                    <button>add notes</button>
                </div>
                <form class="">
                    <div>
                        <h4>My trip to:</h4>
                        <p id="city">Paris</p>
                        <p id="country">France</p>

                    </div>
                    <div>
                        <h4>Departing:</h4>
                        <p id="date">02/12/2021</p>
                    </div>
                    <div>
                        <h6>Flight Info</h6>
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <div>
                        <button>save trip</button>
                        <button>remove trip</button>
                    </div>
                    <p>Paris,France is 220 days away</p>
                    <p>Typical weather for then is:</p>
                    <p>high - 46, Low - 35</p>
                    <p>Mostly cloudy throughout the day.</p>
                </form>
            </section>

            <section>
                <form action="">
                    <div>
                        <h4>My trip to:</h4>
                        <input type="text" placeholder="Enter Location">
                    </div>
                    <div>
                        <h4>Departing:</h4>
                        <input type="text" placeholder="mm/dd/yyyy">
                    </div>
                    <div>
                        <button>save trip</button>
                        <button>remove trip</button>
                    </div>
                  
                </form>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
           </script>
    </body>
</html>
